@using Microsoft.AspNetCore.Identity
@using AmericanAmbassyForm.Areas.Identity.Data


@inject SignInManager<AmericanAmbassyFormUser> SignInManager
@inject UserManager<AmericanAmbassyFormUser> UserManager



@{
    ViewData["Title"] = "Privacy Policy";
    
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>




